<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firebasetesting">

    <uses-sdk tools:overrideLibrary="org.readium.r2.streamer, org.readium.r2.shared" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebasetesting"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SoritngDataAsWanted"
            android:exported="true" />
        <activity
            android:name=".NcertTopicsShowInApp"
            android:exported="true" />
        <activity
            android:name=".PdfActivity"
            android:exported="true" />
        <activity
            android:name=".EncryptiontwoActivity"
            android:exported="true" />
        <activity
            android:name=".EncryptionActivity"
            android:exported="true" />
        <activity
            android:name=".DecryptionActivity"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity android:name=".Database_sqlit" />
        <activity android:name=".SharedPrefere" />
        <activity android:name=".RealtimeFirebase" />
        <activity android:name=".RealtimeFirebaseThree" />
        <activity android:name=".RealtimeFirebasetwo" />
        <activity android:name=".Database" />
        <activity android:name=".PdfActivityIntent" />
        <activity android:name=".Dsil" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CameraImage" />
        <activity android:name=".Storage" />
        <activity android:name=".NcertbookSelect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>